/* svelte-ui-kit:start progress */
@layer svelte-ui-kit.components {
  .kit-progress {
    display: block;
    inline-size: 100%;
    block-size: 0.5rem;
    border: 0;
    border-radius: var(
      --kit-progress-radius,
      var(
        --kit-radius-indicator,
        var(--kit-radius-default, var(--kit-radius-full))
      )
    );
    overflow: hidden;
    background: var(--kit-color-surface-hover);
    accent-color: var(--kit-color-primary);
  }
  .kit-progress::-webkit-progress-bar {
    background: inherit;
    border-radius: inherit;
  }
  .kit-progress::-webkit-progress-value {
    background: var(--kit-color-primary);
    border-radius: inherit;
  }
  .kit-progress::-moz-progress-bar {
    background: var(--kit-color-primary);
    border-radius: inherit;
  }
  .kit-progress[hidden]:not([hidden="until-found"]) {
    display: none;
  }
}
/* svelte-ui-kit:end progress */
